.header__navbar {
    background-color: rgba(0, 0, 0, 0.2);
    height: var(--height-nav);
    display: flex;
    text-align: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    box-shadow: 1px 0px 3px rgb(0 0 0 / 60%);
    z-index: 10;
    overflow: hidden;
}

.experience-item-mobile {
    display: none;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn {
    float: right;
    padding: 0 21px;
    transform: translateY(16%);
}

#header .mobile-menu-btn:hover {
    background-color: rgba(0, 0, 0, transparent);
    text-shadow: 1px #fff;
    cursor: pointer;
}

#header .menu-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.header__navbar.scroll-change-color {
    background-color: rgba(0, 0, 0, 0.9);
}

.header__navbar-items {
    display: flex;
    list-style: none;
    line-height: var(--height-nav);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.header__navbar-detail {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.7rem;
    font-weight: 900;
    padding: 16px;
}

.header__navbar-detail:hover {
    background-color: rgba(0, 0, 0, transparent);
    text-shadow: 1px 0 6px #fff;
}

.container {
    margin-top: var(--height-nav);
}

.introduction {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    padding: 16px 0 16px 0;
    margin: auto;
    animation: appear 3s linear 1;
}

.introduce-img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.introduce-infor {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(12%);
}


.introduce-name {
    flex: 1;
    font-size: 3rem;
    line-height: 3rem;

}

.introduce-title {
    padding-top: 14px;
    flex: 1;
    font-size: 2rem;
    line-height: 2rem;

}

.introduce-desc {
    padding-top: 14px;
    flex: 1;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 300;
    text-align: justify;
}

.education {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px 0 16px 0;
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    animation: appear 3s linear 1;
}

.js-edu-items.edu-ani {
    animation: appear 3s linear 1;
}

.education-img {
    width: 340px;
    height: 340px;
    border-radius: 2px;
    padding: 16px;
    border-radius: 24px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.education-graduation {
    font-size: 2rem;
    line-height: 3rem;
    text-shadow: 1px 1px 3px #fff;

}

.education-major {
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
}

.experience {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    padding: 16px 0 16px 0;
    margin: auto;
    animation: appear 3s linear 1;
}

.experience-item {
    padding: 20px 0 20px 0;
    animation: appear 3s linear 1;
}


.experience-img {
    width: 440px;
    height: 340px;
    border-radius: 25px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.experience-infor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(30%);
}


.experience-name {
    flex: 1;
    font-size: 3rem;
    line-height: 3rem;
}

.experience-title {
    padding-top: 14px;
    flex: 1;
    font-size: 2rem;
    line-height: 2rem;

}

.experience-desc {
    padding-top: 14px;
    flex: 1;
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 300;
    text-align: justify;
}


.skill {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 16px 0 16px 0;
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    animation: appear 3s linear 1;
    

}

.skill-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 2px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    
}

.skill-img:hover {
    animation: zoom 3s linear infinite;
    cursor: pointer;


}

.skill-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    animation: appear 3s linear 1;

}

.skill-school {
    padding-top: 30px;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-icon {
    font-size: 2rem;
    padding: 12px;
}

.contact-text {
    font-size: 2rem;
}

.locate-icon:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, transparent);
    text-shadow: 1px 0 6px #fff;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.social-list a {
    list-style: none;
    font-size: 2rem;
    color: var(--text-color);
    padding: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.social-list a:hover {
    background-color: rgba(0, 0, 0, transparent);
    color: #0a66c2;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.open {
    display: flex;
}

.modal-container {
    width: 900px;
    height: 500px;
    background-color: var(--white-color);
    border-radius: 10px;
    position: relative;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    animation: appear 0.5s linear 1;
}

.icon-close {
    position: absolute;
    right: 0;
    font-size: 2rem;
    padding: 10px 20px;
    z-index: 100;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.icon-close:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, transparent);
    text-shadow: 1px 0 6px #fff;
}

.modal-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    height: 100px;
    background-color: #2b4261;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.icon-visitor {
    padding-left: 10px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 10px;
    color: #c3a15e;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-label {
    display: block;
    padding: 10px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.confirm {
    background-color: #2b4261;
    font-size: 1.8rem;
    height: 40px;
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;    
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.confirm:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, transparent);
    text-shadow: 1px 0 6px #fff;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-footer {
    color: #c3a15e;
    right: 0;
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-help, .help-link {
    font-size: 1.4rem;
    color: var(--black-color);

}

.help-link {
    color: blue;
}
